$base: radial-gradient(
  circle at 47.37% 50.46%,
  #2fb198 0,
  #14b1a1 4.55%,
  #00b1ab 9.09%,
  #00b1b4 13.64%,
  #00b1bd 18.18%,
  #00b0c5 22.73%,
  #00afcd 27.27%,
  #00aed4 31.82%,
  #00acda 36.36%,
  #07abdf 40.91%,
  #30a8e2 45.45%,
  #48a6e5 50%,
  #5ca3e6 54.55%,
  #6ea0e6 59.09%,
  #7e9de5 63.64%,
  #8d9ae3 68.18%,
  #9b96df 72.73%,
  #a893db 77.27%,
  #b490d5 81.82%,
  #bf8cce 86.36%,
  #c889c7 90.91%,
  #d086bf 95.45%,
  #d784b6 100%
);

@import "../scss/bootstrap";

.base {
  background-image: $base;

  border: 4px solid blue;
  border-radius: 5%;
}
#display {
  background-color: black;
  color: green;
  font-weight: bold;
}
//media sm
@media (min-width: 576px) {
  .base {
    max-width: 40vw;
  }
}
